:root {
    --accent: #fc0;
    --first: #0c0c14;
    --second: #fff;
    --third: #272727;
    --fourth: #18191e;
    --fifth: #0c0c14;
    --sixth: #808080;
    --search-height: 60px;
    --search-width: 500px;
}

* {
    font-family: 'Roboto', sans-serif;
    color: var(--second);
    box-sizing: border-box;
    transition: 0.3s;
}

.disabled {
    display: none !important;
}

body {
    background: var(--fourth);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header {
    background: var(--fifth);
    width: 100vw;
    height: var(--search-height);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: sticky;
    top: 0;
}

header img {
    position: fixed;
    left: 230px;
    top: 5px;
    height: calc(var(--search-height) - 10px);
    cursor: pointer;
}

h1 {
    position: fixed;
    top: 0;
    left: 20px;
    margin: 0;
    height: var(--search-height);
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

h2 {
    color: var(--sixth);
    font-weight: 800;
    font-size: 17px;
    text-transform: lowercase;
    margin: 0;
}

p {
    margin: 0;
}

button{
    user-select: none;
}

.active {
    opacity: 100 !important;
    z-index: 1 !important;
}

.separator {
    background: var(--sixth);
    height: 1px;
    width: 100%;
    margin: 15px 0;
}

#searchbar {
    padding: 7px 15px;
    background: var(--third);
    border-radius: 100px;
    border: 1px solid var(--third);
    text-transform: lowercase;
    font-weight: 600;
    height: 60%;
    color: var(--second);
    width: var(--search-width);
}

#app {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 70vw;
    padding-bottom: 30px;
}

#left {
    width: 15%;
}

#meme-list-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

#meme-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#meme-list p {
    font-size: 15px;
    font-weight: 800;
}

#meme-list p:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

button {
    padding: 7px;
    background: var(--second);
    border-radius: 100px;
    border: 1px solid var(--third);
    text-transform: lowercase;
    font-weight: 600;
    color: var(--first);
    width: 100%;
    display: block;
}

button:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

#middle {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#right {
    width: 25%;
}

#right-content,
#left-content {
    position: sticky;
    top: calc(var(--search-height) + 30px);
}

#right h2 {
    margin-bottom: 10px;
}

#categories {
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 8px;
}

#query {
    color: var(--second);
}

#results {
    color: var(--sixth);
}

#upload {
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
}

#upload-content {
    background: var(--fifth);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 15px;
    min-width: 50vw;
}

#upload-content h2{
    font-size: 24px;
}

#upload-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#upload-title {
    background: transparent;
    border: none;
    color: var(--sixth);
    font-weight: 800;
    font-size: 18px;
    text-transform: lowercase;
    margin: 0;
    width: 100%;
}

#upload-title:focus, #upload-title:focus{
    outline: none;
}

#notification{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background: var(--first);
    padding: 20px 25px;
    border-radius: 100px;
    opacity: 0;
    z-index: -1;
}

#notification ion-icon{
    font-size: 20px;
    color: #5cda3c;
}

#notification p{
    font-size: 15px;
}

#search-results {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    gap: 30px;
}

.search-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--first);
    border-radius: 10px;
}

.search-result:hover {
    cursor: pointer;
}

.search-result img, .search-result video, .search-result audio {
    width: 100%;
}

.metadata {
    display: flex;
    width: 100%;
    padding: 15px 20px;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.category {
    border: 2px solid var(--accent);
    color: var(--accent);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.category:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.category:before {
    content: "#";
}

.new-category:before{
    content: "" !important;
}

#search{
    display: flex;
    justify-content: space-between;
}

.category.active{
    background: var(--accent);
    color: var(--first);
}

.new-cat-input{
    background: transparent;
    color: var(--accent);
    outline: 0;
    border: 0;
    width: 90px;
}

.new-cat-input::placeholder{
    color: var(--accent);
    font-weight: 500;
}